@keyframes rainbow {
    14% {
        color: red;
    }
    28% {
        color: rgb(168, 168, 82);
    }
    42% {
        color: rgb(235, 97, 182);
    }
    56% {
        color: rgb(22, 104, 22);
    }
    70% {
        color: purple;
    }
    84% {
        color: orange;
    }
    100% {
        color: rgb(68, 139, 180);
    }
}