@keyframes rainbow {
    14% {
        color: red;
    }
    28% {
        color: rgb(168, 168, 82);
    }
    42% {
        color: rgb(235, 97, 182);
    }
    56% {
        color: rgb(22, 104, 22);
    }
    70% {
        color: purple;
    }
    84% {
        color: orange;
    }
    100% {
        color: rgb(68, 139, 180);
    }
}

@keyframes softRainbow {
    14% {
        color: rgb(135, 42, 42);
    }
    28% {
        color: rgb(189, 189, 44);
    }
    42% {
        color: rgb(168, 47, 122);
    }
    56% {
        color: rgb(39, 133, 39);
    }
    70% {
        color: rgb(132, 34, 132);
    }
    84% {
        color: rgb(159, 115, 32);
    }
    100% {
        color: rgb(40, 110, 151);
    }
}