// * Colors
$body-background: #1b1b1b;
$body-background-light: #2c2a2d;
$body-text: #d2ccd2;
$body-text-light: #a39fa3;
$accent-primary: #d483a0;
$accent-secondary: #fd9abe;

// * Fonts
$font-family: 'Open Sans';
$base-font-size: 20px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

// * Spacing
$base-spacing: 1rem;

// * Responsive
$mobile: 600px;
$laptop: 1080px;
$desktop: 1920px;