.about {
    position: relative;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background: $body-background;
    z-index: 0;
    scroll-snap-align: center;
    &-container {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        align-items: center;
        z-index: 1;
    }
    &-heading {
        display: flex;
        align-self: flex-end;
        &-title {
            font-family: Arame, sans-serif;
            font-size: $base-font-size * 1.5;
        }
    }
    &-item {
        flex: 0 0 100%;
        margin: 0 $base-spacing;
        &-container {
            position: relative;
            background: $body-background-light;
            &:after {
                @extend .rainbow-border;
            }
        }

        &-body {
            padding: $base-spacing;
            min-height: 390px;
            &-title {
                padding: $base-spacing;
                font-family: Arame, sans-serif;
                font-size: $base-font-size * 2;
            }
            &-text {
                display: block;
                padding: $base-spacing * 0.5;
                font-size: $base-font-size * 0.85;
                &-item {
                    list-style-type: none;
                }
                &-item::before {
                    content: '▹';
                    position: absolute;
                    left: 2rem;
                    font-size: $base-font-size;
                    line-height: 22px;
                    color: $accent-secondary;
                }
            }
        }
    }
}

@media only screen and (min-width: $laptop) {
    .about {
        min-height: 100vh;
        &-container {
            flex-flow: row;
        }
        &-item {
            flex: 0 0 50%;
            &-body {
                min-height: 500px;
            }
        }
        &-bars {
            display: block;
        }
    }
}
