// animations

@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes line {
    0% {        
        transform-origin: 0% 0%;        
        transform: scale(1, 0);
    }
    50% {       
        transform-origin: 0% 0%;        
        transform: scale(1, 1);
    }
    50.1% {        
        transform-origin: 0% 100%;        
        transform: scale(1, 1);
    }
    100% {        
        transform-origin: 0% 100%;        
        transform: scale(1, 0);
    }
}

// move to seperate file //

.centered {
    text-align: center;
    justify-content: center;
}

.flex {
    display: flex;
    width: 100%;
    &-left {
        flex: 0 0 50%;
        p {
            padding: 0 $base-spacing * 2;
        }
    }
    &-right {
        flex: 0 0 50%;
        text-align: left;
        p {
            padding: 0 $base-spacing * 2;
        }
    }
}

// end of move to seperate file //

//
//
// ** A component to display media and limited content, stretched to the page w/h
//
//
.cover {
    display: flex;
    flex-flow: column;
    // flex-flow: row wrap;
    height: 100vh;
    &-logo {
        width: 100%;
        align-self: center;
        &-image {
            // animation: moveLogo 3s infinite;
            img {
                width: 50%;
            }
        }
        &-text {
            font-size: $base-font-size * 7;
            &--arrow {
                letter-spacing: 0.25rem;
            }
            &--slash {
                font-style: italic;
            }
            &--letter {
                position: relative;
                font-style: italic;
                padding: 0 $base-spacing * 0.5;
                &--cursor {
                    position: absolute;
                    left: 0;
                    bottom: 1.5rem;
                    width: 100%;
                    border-bottom: 4px solid #ccc;
                    padding: $base-spacing * 0.15;
                    animation: cursor 1500ms infinite;
                }
            }
        }
    }
    &-desc {
        flex-grow: 1;
        align-items: center;
        text-align: right;
    }
    &-bottom {
        flex-grow: 0;
        font-size: 40px;
        width: 100%;
        display: flex;
        order: 2;
        align-self: flex-end;
        justify-content: center;        
        &-line {
            height: 100px;
            justify-content: center;
            text-align: center;
            border-left: 4px solid #ccc;
            animation: line 1.2s infinite;
        }
        &-arrow {            
            justify-content: center;
            text-align: center;
            margin-left: -17px;
            font-size: 50px;
            transform: rotate(270deg);
        }
    }
}

// larger than mobile (600px)

@media only screen and (min-width: $mobile) {
    .cover {
        &-logo {
            &-image {
                img {
                    width: 25%;
                }
            }
        }
    }
}
