@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes line {
    0% {
        transform-origin: 0% 0%;
        transform: scale(1, 0);
    }
    50% {
        transform-origin: 0% 0%;
        transform: scale(1, 1);
    }
    50.1% {
        transform-origin: 0% 100%;
        transform: scale(1, 1);
    }
    100% {
        transform-origin: 0% 100%;
        transform: scale(1, 0);
    }
}

.cover {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    width: 100%;
    background: $body-background;
    z-index: 2;
    transition: ease-in-out 0.4s;
    &-container {
        display: flex;
        flex-grow: 1;
        flex-flow: wrap-reverse;
        align-items: center;
        margin: 0 auto;
        padding: $base-spacing * 2;
    }

    &-info {
        flex: 0 0 100%;
        &-title {
            font-size: $base-font-size * 2;
            &-greeting {
                color: $accent-primary;
            }
        }
        &-body {
            padding: $base-spacing 0;
            &-text {
                font-size: $base-font-size;
            }
        }
        &-cta {
            padding: $base-spacing 0;
        }
    }

    &-logo {
        flex: 0 0 100%;
        &-container {
            align-self: center;
            padding: $base-spacing;
        }
        &-image {
            img {
                width: 50%;
            }
        }
        &-text {
            font-size: $base-font-size * 5;
            &--arrow {
                letter-spacing: 0.25rem;
            }
            &--slash {
                font-style: italic;
            }
            &--letter {
                position: relative;
                font-style: italic;
                padding: 0 $base-spacing * 0.5;
                &--cursor {
                    position: absolute;
                    left: 0;
                    bottom: 1.5rem;
                    width: 100%;
                    border-bottom: 4px solid #ccc;
                    padding: $base-spacing * 0.15;
                    animation: cursor 1500ms infinite;
                }
            }
        }
    }
    &-bottom {
        flex-grow: 0;
        font-size: 40px;
        width: 100%;
        display: flex;
        order: 2;
        align-self: flex-end;
        justify-content: center;
        &-line {
            height: 100px;
            justify-content: center;
            text-align: center;
            border-left: 4px solid $body-text;
            animation: line 1.2s infinite;
            &--hide {
                transition: ease-in-out 0.5s;
                opacity: 0;
            }
        }
        &-arrow {
            justify-content: center;
            text-align: center;
            margin-left: -17px;
            font-size: 50px;
            transform: rotate(270deg);
        }
    }
}

@media only screen and (min-width: $mobile) {
    .cover {
        &-container {
            flex-flow: row;
            width: 60%;
        }
        &-info {
            flex: 0 0 70%;
            &-title {
                font-size: $base-font-size * 3;
            }
        }
        &-logo {
            flex: 0 0 30%;
            text-align: left;
            &-text {
                font-size: $base-font-size * 7;
            }
            &-image {
                img {
                    width: 25%;
                }
            }
        }
    }
}
