.sidenav {
    display: none;
    flex-direction: column;
    max-width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
    &-container {
        display: flex;
        flex-direction: column-reverse;
    }
    &-item {
        transform: rotate(270deg);
        padding: $base-spacing * 2;
        font-size: $base-font-size * 0.75;
        text-align: center;
        &:hover {
            transform: rotate(360deg);
        }
    }
}

@media only screen and (min-width: $laptop) {
    .sidenav {
        display: flex;
    }
}
