.timeline {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $body-background;
    &-heading {
        font-size: $base-font-size * 2;
        padding: $base-spacing * 3 0;
        font-family: Arame, sans-serif;
        text-align: center;
    }
    &-container {
        display: flex;
        flex-direction: column;
    }
    &-tabs {
        display: flex;
        flex-direction: row;
        flex: 0 0 20%;
        justify-content: center;
        &-tabItem {
            padding: $base-spacing;
            border-bottom: 5px solid $body-background;
            font-size: $base-font-size * 0.75;
            font-weight: 600;
            color: $body-text-light;
            &:hover {
                color: $accent-primary;
                cursor: pointer;
                transition: ease-in-out 0.3s;
            }
            &--active {
                border-bottom: 5px solid $accent-primary;
                color: $body-text;
            }
        }
    }
    &-content {
        flex: 0 0 80%;
        padding: 0 $base-spacing;
        margin: $base-spacing 0;
        &-event {
            padding: $base-spacing / 2 $base-spacing;
            background: $body-background-light;
            &-name {
                &-title {
                    padding: $base-spacing / 2;
                    font-size: $base-font-size * 1.25;
                }
                &-subtitle {
                    padding: 0 $base-spacing / 2;
                    font-size: $base-font-size * 0.75;
                    color: $body-text-light;
                }
                &-body {
                    padding: 0 $base-spacing * 1.75;
                    font-size: $base-font-size * 0.75;
                    color: $body-text-light;
                }
            }
        }
    }
}

@media only screen and (min-width: $laptop) {
    .timeline {
        &-heading {
            text-align: inherit;
        }
        &-container {
            flex-direction: row;
        }
        &-tabs {
            flex-direction: column;
            justify-content: start;
            &-tabItem {
                border-bottom: 0;
                border-right: 5px solid $body-background;
                &--active {
                    border-right: 5px solid $accent-primary;
                    color: $body-text;
                }
            }
        }
        &-content  {
            margin: 0;
            &-event {
                flex-direction: row;
            }
        }
    }
}
